@inherits LayoutComponentBase

<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My App</a>
    </div>
</nav>

<div class="container">
    <main>@Body</main>
</div>