@page "/product/details/{id:int}"
@inject IProductService ps

<h3>Product - Edit @Id</h3>

<p>@p.ProductName</p>

@code {
    private Product p = new Product();

    [Parameter]
    public int Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        p = await ps.Get(Id);
    }
}
