@*https://learn.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-7.0#route-constraints*@
@page "/product/edit/{id:int}"
@using Microsoft.AspNetCore.Components.Forms
@inject IProductService ps
@inject Utility util
@inject NavigationManager nm

<h3>Product - Edit</h3>

<EditForm Model="p" OnValidSubmit="onSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name</label>
        <ValidationMessage For="@(() => p.ProductName)" />
        <InputText class="form-control" @bind-Value="p.ProductName" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <ValidationMessage For="@(() => p.UnitPrice)" />
        <InputNumber class="form-control" @bind-Value="p.UnitPrice" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>

@code {
    private Product p = new Product();

    [Parameter]
    public int Id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        p = await ps.Get(Id);
    }

    public async Task onSubmit()
    {
        await ps.Update(p);

        await util.Alert("Ready!");

        nm.NavigateTo("/product");
    }
}
